.nav {
  background-color: var(--color-nav);
  color: rgb(255, 253, 253);
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100px;
  justify-content: center;
  text-decoration-color: none;
}
.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}
.nav ul li a {
  margin: 5px 15px;
}
.nav > ul:hover {
  color: white;
}
.title {
  color: black;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
}
